body{
    font-family: 'Poppins', sans-serif;
}
.box{
    border-left: 3px solid;
    border-radius: 5%;
    padding-left: 5px;
    border-image: linear-gradient(orange, red) 30;
    border-image-slice: 1;
}
.sw{
    color: orange;
}
.link-button{
    color: rgb(177, 220, 20);
    background-color: crimson;
    padding: 2%;
    border-radius: 5%;
}
.half{
    display:flex;
}
.arm{
    width: 50%;
    padding-left: 0%;
}
.arm img{
    width: 50%;
    padding-left: 15%;
}
.cen{
    text-align: center;
}
#clr{
    color: orange;
}
.part{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkturquoise;
}
.flexable{
    display: flex;
    margin-bottom: 10px;
}
.sw{
    width: 50%;
    padding-left: 15%;
}
.sw img{
    width: 50%;
    
}