body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0%;
}
.box{
    border-left: 3px solid;
    border-radius: 5%;
    padding-left: 5px;
    border-image: linear-gradient(orange, red) 30;
    border-image-slice: 1;
}
.sw{
    color: orange;
}
.link-button{
    color: rgb(177, 220, 20);
    background-color: crimson;
    padding: 2%;
    border-radius: 5%;
}
.half{
    display:flex;
}
.arm{
    width: 50%;
    padding-left: 0%;
}
.arm img{
    width: 50%;
    padding-left: 15%;
}
.cen{
    text-align: center;
}
#clr{
    color: orange;
}

.part{
    
    width: 33%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkturquoise;
}
.flexable{
    display: flex;
    background-image: url(shape-1.png);
   background-repeat: no-repeat;
    border-width: 0%;

}
.swr{
    width: 30%;
    padding-left: 15%;
}
.swr img{
    width: 75%;
    
}
.line{
    width: 30%;
}
.emd{
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}
.emd img{
    width: 60%;
    margin-top: 10%;
}
.flexable-a{
    display: flex;
}
.flexable-b{
    display: flex;
}