body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}
.box{
    border-left: 3px solid;
    border-radius: 5%;
    padding-left: 5px;
    border-image: linear-gradient(orange, red) 30;
    border-image-slice: 1;
}
.sw{
    color: orange;
}
.link-button{
    color: rgb(177, 220, 20);
    background-color: crimson;
    padding: 2%;
    border-radius: 5%;
}
.half{
    display:flex;
}
.arm{
    width: 50%;
    padding-left: 0%;
}
.arm img{
    width: 50%;
    padding-left: 15%;
}
.cen{
    text-align: center;
}
#clr{
    color: orange;
}
.line{
    display: flex;
}

.part{
    height: 350px;
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkturquoise;
}
.part img{
width: 170px;
padding:8px 20px;
}
.flexable{
    display: flex;
    background-image: url(rrrrr.png);
   background-repeat: no-repeat;
    background-position: left;

}
.swr{
    margin-top: 10%;
    width: 30%;
    padding-left: 15%;
}
.swr img{
    margin-top: 10%;
    width: 75%;
    
}

.emd{
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}
.emd img{
    width: 60%;
    margin-top: 10%;
}
.flexable-a{
    display: flex;
}
.flexable-b{
    display: flex;
    background-image: url(shape-9.png);
    background-repeat: no-repeat;
}
#sp{
    color: cyan;
}
.fot{
    text-align: center;
}
.foot{
    back
}
.dd{
    background-color: black;
    height: 300px;

}
.dd h1{
    color: white;
}
.dd h5{
    color: rgb(128, 128, 128);
}
.part2{
    background-color: gray;
}
.part3{
    background-color: indigo;
}
.part4{
    background-color: lightseagreen;
}